</br>
<div class="container">
  <div class="mx-auto">
    <div class="card">
        <h5 class="card-header">Contact us:</h5>
        <div class="card-body">
          <h5 class="card-title">Whe are here for you!</h5>
          <p class="card-text">
            If you have questions or feedack, donst hessitate to write us :)</p>
          <a href="mailto:ai-coach@neoclarity.at?subject=Kontakt&body=Mein%20Name%3A%20%3Cgib%20deinen%20Namen%20ein%3E%0D%0A%0D%0AMeine%20Frage%3A%20%3Cwas%20ist%20genau%20deine%20Frage%3E" class="btn btn-primary btn-sm">Kontakt</a>
        </div>
    </div>
    </br>
    <p class="mt-4">Copyright 2023, NeoClarity</p>
  </div>
</div>