<!DOCTYPE html>
<html>
  <head>
    <title>AI-Coach</title>
    <style>
      h1 {
        font-size: 40px;
        font-famliy: Roboto;
        color: rgb(50, 50, 50)
      }
      #banner{
        height: 250px;
      }
      h2 {
        font-family: Roboto;
        font-size: 35px;
        text-align: center;
        font-weight: normal;
      }
      .boddytext {
        font-family: Roboto;
        color: rgb(80,80,80)
      }
      #container {
        max-width: 720px;
        margin: 0 auto;
      }
      
    </style>
  </head>
  <body>
    <div id='container'>
      <h1>AI-Coach</h1>
      <img id="banner" src="/static/banner.jpg">
      <h2>About the AI-Coach</h2>
      <h3>The AI-Coach: Personal Development Through Digital Journal Analysis</h3>
      <p class="boddytext">In the era of artificial intelligence, the concept of personal development has taken a revolutionary turn. The AI-Coach, a groundbreaking innovation, is at the forefront of this transformation. This AI-powered tool is designed to assist individuals in their personal growth journey by analyzing their digital personal journals.
    </br></br>
  The AI-Coach operates on the principle of natural language processing (NLP), a branch of artificial intelligence that enables machines to understand, interpret, and generate human language. It uses this technology to read and comprehend the entries in a person's digital journal. The AI-Coach is not just a passive reader, but an active analyzer, extracting insights from the text and providing personalized feedback to the user.</p>
      
      <h2>Get your own AI-Coach</h2>
      <p class="boddytext">Get application From here</P>
      
      <div style="text-align: center;">
        <button>Submit</button>
        <p>Copyright 2023, NeoClarity</p>
      </div>
    </div>
  </body>  
</html>